<div class="container">
  <div class="user-details">
    <h3> Me, Myself and I </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Food</h4>
      <img alt="mountains" width="200" height="200" src="{{ "/assets/img/work-image1.jpg" | prepend: site.baseurl }}" />
      <p> As a food fanatic, I got exactly what you're looking for to feel fulfilled in life when it comes to your stomach.</p>
    </div>
    <div class="four columns">
      <h4>Travel</h4>
      <img alt="mountains" width="200" height="200" src="{{ "/assets/img/work-image2.jpg" | prepend: site.baseurl }}" />
      <p> As a time traveler, I know the best places you and your boo can visit so you don't feel like you're any less than anyone on your instagram (no fomo).</p>
    </div>
    <div class="four columns">
      <h4>Geeking Out</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p> As someone who is technically retarded, I got the best hacks for you to be able to fit right in with the techies. </p>
    </div>
  </div>
</div>
