<div class="container">
  <div class="user-details">
    <h3> Featured Blogs </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/road-sky-clouds-cloudy.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> This is it!</h5>
      <p>The day is finally here! The day that I start my own website and share all my non existing wisdom to the rest of the world. If you would like to know more about this please click the "check it out" button!</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/finding.jpeg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Inspired </h5>
      <p>I woke feeling inpired to follow my dreams so please follow me on this journey of finding myself. If you would like to know more about this please click the "check it out" button!</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
